.grid-container {
  display: inline-grid;
  grid-template-areas: 'tab tab '
  'profile about'
  'paragraph paragraph'
  'footer footer';
  grid-gap: 10px;
  grid-template-columns: min-content;
  background-color: white;
  padding: 5px 1px 5px 0px;
  margin: 0 0 0 0;
}

.grid-tab { 
  grid-area: tab; 
  background-color: gray;
  margin: 1px 2px 5px 1px;
  padding: 10px 2px 10px 1px;
  text-align: center;
}

.grid-pic { 
    grid-area: profile;
    background-color: rgb(174, 229, 135);
    margin: 0 0px 0 10px;
 }

  .img-prof { 
    margin: 0px 0px 0px 0px;  
    width: 150px;
    height:150px;
    border-radius: 50%;
  }

  .fa {
    padding: 0px;
    font-size: 15px;
    width: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: rgb(138, 144, 129);
    color: blue;
  }
  .fa-linkedin {
    background:  rgb(138, 144, 129);
    color: blue;
  }
  
  .fa-github{
    background:  rgb(138, 144, 129);
    color: black;
  }

  .div-social {
    margin: 0px 0 0 0px;
    padding: 0px 0px 0px 22px;  
    background-color:rgb(138, 144, 129);
   }


.grid-aboutme { 
    grid-area: about;
    background-color: white;
    padding: 0 15px 0 0px;
    
 }

.grid-paragraph {
     grid-area: paragraph;
     padding: 0px 20px 0px 10px;
     margin: 5px 5px 0px 5px;
 }

 .grid-footer { 
  grid-area: footer; 
}

.button-home{
  background-color:rgb(87, 87, 225);
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  padding: 0 0 0 0px;
  vertical-align: top;
}

.button-project{
  background-color:rgb(87, 87, 225);
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 0 0 0px;
  vertical-align: top;
}

.button-blog{
  background-color:rgb(87, 87, 225);
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 0 0 0px;
  vertical-align: top;
}

.button-contact{
  background-color:rgb(87, 87, 225);
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 0 0 0px;
  vertical-align: top;
}


button:hover{
  background-color: green;
}
button:active{
  background-color: red;
}

.tab-font {
  color: white;
}


.h1-header {
  background-color: lightblue;
  text-align: center;
  color:white;
  margin: 0 0 0 0;
  padding: 5px 0 5px 0;
}

.my-font { 
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 15px;
  text-align: justify;
  line-height: 25px;
}

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

hr {
  height:1px;
  border-width:1px;
  width: auto;
  color:blue;
  background-color:blue
}

abbr {
  background-color:white;
  color:green;
  border-bottom: none;
  font-variant: none;
  cursor:pointer
}

body { 
  font: normal .85em arial, sans-serif;
  background-color: white;
  color: black;
  padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 { 
  font: normal 200% , arial, sans-serif;
  color: #222;
  margin: 0 0 5px 0;
  padding: 10px 0 20px 0;
}

h1 { 
  text-shadow: 1px 2px rgb(210, 206, 206);
}

p { 
  padding: 0 10px 20px 10px;
  line-height: 1.5em;
  
}

h2 { 
  font: normal 170% 'News Cycle', arial, sans-serif;
  color: black;  
  margin-left: 0px;
  padding: 0 10px 0 10px;
  text-shadow: 1px 3px rgb(152, 145, 145);
}

h3 { 
  font: normal 125%, arial, sans-serif;
  padding: 10px 0 0 10px;
}

h4, h5, h6 { 
  margin: 0;
  margin-left: 0px;
  padding: 0 0 5px 0;
  font: normal 110% arial, sans-serif;
  color: #999;
  line-height: 1.5em;
}

h5, h6 { 
  font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;
}

h6 { 
  color: #817e7b;
  text-align: center;
}

a, a:hover { 
  outline: none;
  text-decoration: none;
  color: rgb(15, 115, 231);
}

a:hover { 
  text-decoration: underline;
  color:blue;
}

ul { 
  margin: 2px 0 22px 25px;
}

ul li { 
  list-style-type: square;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;
}

ol { 
  margin: 8px 0 22px 25px;
}

ol li { 
  margin: 0 0 15px 0;
}